<section id="handles" class="sectionList">
    <button (click)="addHandle()">Add Producer</button>
    <section class="handle" *ngFor="let handle of handles" [appHandle]="handle">
        <div class="handleControl">
            <div class="title">Handle: {{handle}}</div>
            <button (click)="removeHandle(handle)">Remove</button>
        </div>
        <ng-container *ngComponentOutlet="controlComponent"></ng-container>
    </section>
</section>

<section id="consumers" class="sectionList">
    <button (click)="addConsumer()">Add Consumer</button>
    <section class="consumer" *ngFor="let consumer of consumers.controls | keyvalue">
        <div class="consumerControl">
            <div class="title">Consumer: {{consumer.key}}</div>
            <select [formControl]="consumer.value">
                <option value="">(No Handle)</option>
                <option *ngFor="let handle of handles" [ngValue]="handle">{{handle}}</option>
            </select>
            <button (click)="removeConsumer(consumer.key)">Remove</button>
        </div>
        <ng-container *ngIf="consumer.value.valueChanges | async as handle" [appHandle]="handle">
            <ng-container *ngComponentOutlet="consumerComponent"></ng-container>
        </ng-container>
    </section>
</section>
